.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
 

}
.container{
  background-color: rgb(201, 160, 108);
  height: 100vh;
  text-align: center;
}
.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  /* display:none */
}
.table {
  margin-top: 50px;
  background-color: antiquewhite;;
  margin-left: 300px;
  max-width: max-content;
}
.action {
  display: flex;
}
input{
  margin-top: 10px;
}
button{
  margin-top: 10px;
}
.searchbar{
  display: flex;
  justify-content: space-evenly;
}